@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.background-canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
